h1 {
    font-family: "Raleway", "Helvetica", "Verdana", sans-serif;
}
h2 {
    font-family: "Raleway", "Helvetica", "Verdana", sans-serif;
    padding-bottom: 10px;
}

p {
    font-family: "Merriweather", "Times New Roman", serif;
    line-height: 33px;
    padding: 15px 15px 15px 0px;
}
